* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffc4dc;
  color: #333;
  height: 1.6;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #f5d0db;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
  color: #d45a8d;
}

header p {
  font-style: italic;
  color: #7a7a7a;
  font-size: 17px;
}

.section {
  margin-bottom: 30px;
}

.section h2 {
  font-size: 1.8rem;
  color: #d45a8d;
  border-bottom: 2px solid #d45a8d;
  padding-bottom: 5px;
}

.section ul {
  list-style-type: square;
  padding-left: 20px;
}

.section p, .section ul li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.activity-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.activity-item {
  width: calc(33.33% - 20px);
  text-align: center;
}

.activity-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.activity-item p {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

footer {
  text-align: center; 
  padding: 10px;
  background-color: #d45a8d;
  color: white;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
}

footer p {
  font-size: 0.9em;
}

@media screen and (max width: 768px) {
  .activity item {
    width: calc(50% - 20px)
  }
}

@media screen and (max width: 480px) {
  .activity item {
    width: 100%;
  }
}

.footer {
  color: black;
}
